{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2>Chat with {{ addressee.username }}:</h2>
    {% for m in all_messages %}
        {% ifequal m.author user %}
        <p style="background: lightgrey"><b>{{ m.author.username }}: </b>{{ m.text }}</p>
        {% else %}
        <p style="background: lightblue"><b>{{ m.author.username }}: </b>{{ m.text }}</p>
        {% endifequal %}
    {% endfor %}
    <h2>Reply:</h2>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Send" /></p>
    </form>
{% endblock %}
